.info {
    -fx-background-color: rgba(255, 255, 255, .5);
    -fx-font-size: 24px;
    -fx-border-radius: 4px;
    -fx-border-width: 4px;
    -fx-border-color: #222;
}

.seer-status {
    -fx-background-color: transparent !important;
    -fx-padding: 1px 5px 0 5px;
}

.display {
    -fx-font-family: "SH Pinscher";
    -fx-font-size: 18px;
}

.dialog-box__text {
    /* Normally, using !important makes me upset, but there's
       not a great/obvious alternative at the moment to make
       sure that this CSS rule overrides the one in DialogBox.css */
    -fx-padding: 10px !important;
}
