/* FIXME: Do not use ID selectors */
#splashLabel {
    -fx-font-size: 25;
}

.button {
    -fx-font-size: 23;
    -fx-text-fill: black;
    -fx-background-color: transparent;
}

.button:hover {
    -fx-text-fill: #cc99ff;
}

.button:disabled {
    -fx-text-fill: #4b4b4b;
}

.quit {
    -fx-text-fill: #ffa1b5;
    -fx-font-size: 25;
}

.title {
    -fx-font-size: 30;
    -fx-text-fill: #ffce9b;
    -fx-padding: 10px 0 10px 0;
}

/* FIXME: Do not use ID selectors */
#escapeLabel {
    -fx-font-size: 17;
    -fx-padding: 0 0 10px 0;
    -fx-opacity: 0.7;
}
