.header {
    -fx-font-size: 25;
    -fx-font-weight: bold;
    -fx-text-fill: #bbe0ff;
}

.dialog {
    -fx-font-size: 24;
    -fx-text-fill: #000;
}

.warn {
    -fx-font-size: 22;
    -fx-text-fill: #ff225c;
}

#confirm {
    -fx-border-style: solid;
    -fx-border-color: #222;
    -fx-border-width: 4px;
    -fx-border-radius: 4px;
}

#failMessage {
    -fx-border-style: solid;
    -fx-border-color: #222;
    -fx-border-width: 4px;
    -fx-border-radius: 4px;
}

.text {
    -fx-text-fill: #ffffff;
}

.screen {
    -fx-background-image: url("/images/home.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 700 500;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}

.bordered {
    -fx-border-width: 10px;
    -fx-border-color: #000;
    -fx-border-style: solid;
    -fx-border-radius: 4px;
}

.button {
    -fx-background-color: linear-gradient(#007fc0, #006da5);
    -fx-background-radius: 0;
    -fx-text-fill: #fff;
    -fx-padding: 5px 15px;
}