#name {
    -fx-font-size: 20;
    -fx-background-color: transparent;
    -fx-alignment: center;
    -fx-display-caret: false;
    -fx-prompt-text-fill: derive(-fx-control-inner-background, -30%);
}

#name:focused {
    -fx-faint-focus-color: transparent;
    -fx-focus-color: transparent;
    -fx-prompt-text-fill: derive(-fx-control-inner-background, -30%);
}

#title {
    -fx-font-size: 30;
}

.remind {
    -fx-font-size: 15;
}