.screen {
    -fx-background-image: url("/images/postdiag.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 700 500;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}