.screen {
    -fx-background-image: url("/images/loading.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 700 500;
    -fx-background-position: center center;
    -fx-background-color: #000000;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}

#log {
    -fx-text-fill: #ffffff;
    -fx-font-size: 33;
}

.indc {
    -fx-text-fill: #ffffff;
    -fx-font-size: 27;
}