BagSelectionBox{
    -fx-background-color: white;
}

.innerComponent {

    -fx-border-color: #000;
    -fx-border-radius: 4px;
    -fx-border-width: 4px;
    -fx-font-family: "SH Pinscher";
    -fx-font-size: 26px;
}

.innerComponent:focused
{
    -fx-faint-focus-color: transparent;
    -fx-focus-color: transparent;
}

.innerComponent .list-cell {
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-alignment: center;
}

.innerComponent .list-cell:focused {
    -fx-text-fill: linear-gradient(#a1d3ff, #bbe0ff);
}

.innerComponent .scroll-bar:vertical {
    -fx-scale-x: 0;
}

.description{
    -fx-font-size: 24px;
    -fx-wrap-text: true;
}

.dialogBox__background {
    -fx-background-color: rgba(255, 255, 255, .5);
    -fx-font-family: "SH Pinscher";
    -fx-font-size: 24px;
    -fx-border-radius: 4px;
    -fx-border-width: 4px;
    -fx-border-color: #222;
}

.select
{
    -fx-text-fill: #bbe0ff;
}