BattleOperationMenu {
    -fx-padding: 5px;
}

.operations {
    -fx-border-radius: 4px;
    -fx-border-width: 4px;
    -fx-border-color: #222;
    -fx-font-size: 26px;
    -fx-padding: 10px 25px;
}

.description{
    -fx-font-size: 24px;
    -fx-wrap-text: true;
    -fx-padding: 10px;
}

.selected
{
    -fx-text-fill: linear-gradient(#a1d3ff, #bbe0ff);
}
