DialogBox {
    -fx-background-color: rgba(255, 255, 255, .5);
    -fx-font-size: 24px;
    -fx-border-radius: 4px;
    -fx-border-width: 4px;
    -fx-border-color: #222;
}

.dialog-box__text {
    -fx-padding: 1px 0 4px 5px;
}
