.innerComponent {
    -fx-border-radius: 4px;
    -fx-border-width: 4px;
    -fx-border-color: #222;
    -fx-font-family: "SH Pinscher";
    -fx-font-size: 24px;
    -fx-padding: 8px 8px 0;
}

.description{
    -fx-font-size: 20px;
    -fx-wrap-text: true;
}

.dialogBox__background {
    -fx-background-color: rgba(255, 255, 255, .5);
    -fx-font-family: "SH Pinscher";
    -fx-font-size: 24px;
    -fx-border-radius: 4px;
    -fx-border-width: 4px;
    -fx-border-color: #222;
}

.selected
{
    -fx-text-fill: linear-gradient(#a1d3ff, #bbe0ff);
}